:root {
  /* color */
  --color-gray-tuna: #393c41;
  --color-shark: #181b21;
  --color-mercury: #e3e3e3;
  --color-light: #fff;
  --color-lavenderMagenta: #ed61d2;
  --color-cornflowerBlue: #6179ed;
  --color-fruitSalad: #4aa14c;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 0;
}

/* General */
/* html {
  scroll-behavior: smooth;
} */

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url(/data/image/background/viktor-forgacs-q8XSCZYh6D8-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 25px;
  height: 150px;

  display: flex;
  justify-content: end;
  align-items: center;

  flex-direction: column;
}

.container-top-logos {
  height: 100vh;
  width: 100vw;
  gap: 35px;
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-coins {
  width: auto;
  height: 100px;
}

.logo-coins:hover {
  cursor: pointer;
  text-decoration: underline;
  border-bottom: 5px solid rgba(0, 0, 0, 0.348);
  transition: ease 0.1s;
  padding-bottom: 10px;
  border-radius: 10px;
}

/* This is the main container */
.container {
  /* border: 2px solid red; */
  width: auto;
}

/* This is logo and arrow container */
.container-logo-arrow {
  height: 100vh;
  width: 100vw;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(247, 244, 244, 0.5);
  margin: 10px;
  border-radius: 10px;
}

/* This  */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* height: 950px; */
  padding-top: 25px;
}

.bottom {
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45px;
  padding-bottom: 10px;
}

.location {
  background-color: rgba(247, 244, 244, 0.3);
  color: var(--color-light);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 150px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: black;
}

.icon--up {
  cursor: n-resize;
  transform: rotate(180deg);
}
