:root {
  /* color */
  --color-gray-tuna: #393c41;
  --color-shark: #181b21;
  --color-mercury: #e3e3e3;
  --color-light: #fff;
  --color-lavenderMagenta: #ed61d2;
  --color-cornflowerBlue: #6179ed;
  --color-fruitSalad: #4aa14c;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* General */
html {
  /* scroll-behavior: smooth; */
}

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: url(/data/image/background/back-build-block.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 25px 0px 25px 0px;
  height: 100px;
}

.wrapper-top-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top-logos {
  height: 100vh;
  width: auto;
  gap: 55px;
  margin: 20px;
}

.logo-coins {
  min-width: auto;
  height: 100px;
  /* margin: 5px; */
  padding: 10px;
  /* border: 1px solid black; */
  background-color: rgba(247, 244, 244, 0.4);
  border-radius: 10px;
}

.logo-coins:hover {
  cursor: pointer;
  text-decoration: underline;
  border-bottom: 5px solid rgba(0, 0, 0, 0.348);
  background-color: rgba(247, 244, 244, 0.8);
  transition: ease 0.1s;
  padding-bottom: 10px;
  border-radius: 10px;
}

/* This is the main container */
.container {
  width: auto;
}

/* This is logo and arrow container */
.container-logo-arrow {
  height: 100vh;
  width: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(247, 244, 244, 0.7);
  border-radius: 10px;
}

/* This  */
.top {
  gap: 15px;
  padding: 25px;
  font-size: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45px;
  padding-bottom: 10px;
}

.bottom:hover {
  border-radius: 30px;
  background-color: var(--color-cornflowerBlue);
  color: #e3e3e3;
}

.location {
  background-color: rgba(247, 244, 244, 0.3);
  color: var(--color-light);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 150px;
}

table,
th,
td {
  border: 1px solid black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: var(--color-shark);
}

.icon--up {
  cursor: n-resize;
  transform: rotate(180deg);
}
